.modlogs {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> h1 {
		text-align: center;
	}
}

.modlogs-list {
	background-color: rgba($bg3, 0.6);
	padding: 1rem;
	border-radius: 10px;
	width: min(90%, 1000px);
}

.modlogs-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	transition: all 0.5s ease;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background-color: $bg3;
	}
}

.modlogs-user {
	font-size: 1.25rem;
	max-width: 200px;
	text-align: center;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.modlogs-avatar {
	border-radius: 50%;
}

.modlogs-avatar-wrapper {
	min-width: 55px;
	display: grid;
	place-content: center;
}

.modlogs-amount {
	font-size: 1.25rem;
	font-weight: 500;
	max-width: 150px;
	min-width: 100px;
	text-align: center;
}

.modlog-item {
	flex-direction: column;
	cursor: default;

	> h3 {
		text-align: center;
	}
}

.modlogs-moderator {
	display: flex;
	align-items: center;

	.modlogs-user {
		max-width: 400px;
		margin-left: 10px;
	}
}

.modlog-goback {
	width: min(90%, 1000px);
	font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
	.modlogs-avatar-wrapper {
		display: none;
	}
}
